@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4 {
    @apply font-bold font-display leading-tight mt-16 text-fuse-teal-dk;
  }
  h1 {
    @apply text-5xl mb-6;
    @apply font-extrabold mt-12;
  }
  h2 {
    @apply text-4xl text-center mt-20;
  }
  h3 {
    @apply text-2xl font-semibold text-gray-700 mt-8 mb-4;
  }
  h4 {
    @apply text-xl text-gray-700 mt-8 mb-4;
  }
  h5 {
    @apply text-xs text-gray-700 mt-4 mb-2 ml-4 uppercase tracking-wide;
  }

  p {
    @apply font-sans text-gray-700 leading-normal max-w-prose my-4 text-lg;
  }

  a {
    @apply no-underline font-semibold text-fuse-teal-dk;
  }
  a:focus, a:hover {
    @apply underline;
  }
  a:hover {
    @apply font-semibold;
  }

  ol li, ul li {
    @apply ml-8 mt-3 leading-snug;
  }

  ol li {
    @apply list-decimal;
  }

  ul li {
    @apply list-disc;
  }

  .btn, button.submit, [type='reset'], [type='submit'] {
    @apply inline-block bg-emerald-700 text-white rounded-lg shadow-lg uppercase tracking-wider font-semibold text-sm my-2 px-5 py-2 ring-transparent;
  }
  .btn[disabled], button.submit[disabled], [type='reset'][disabled], [type='submit'][disabled] {
    @apply bg-gray-600
  }
  .btn[disabled]:hover, button.submit[disabled]:hover, [type='reset'][disabled]:hover, [type='submit'][disabled]:hover {
    @apply bg-gray-700
  }
  .btn.destroy, button.destroy, [type='destroy'] {
    @apply inline-block bg-red-500 text-white rounded-lg shadow-lg uppercase tracking-wider font-semibold text-sm my-2 px-5 py-2;
  }
  .btn, button.btn:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    @apply outline-none ring;
  }
  button.btn:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    @apply bg-green-700;
  }
  button.btn:active, [type='button']:active, [type='reset']:active, [type='submit']:active,
  button.btn:visited, [type='button']:visited, [type='reset']:visited, [type='submit']:visited {
    @apply bg-green-900;
  }


  table {
    @apply table-auto;
  }
  thead tr {
    @apply bg-fuse-teal font-display text-white tracking-wide border-white font-bold text-left rounded-t;
  }
  thead tr th {
    @apply px-4 py-2;
  }
  tbody tr {
    @apply border border-gray-300 bg-white text-gray-700 font-medium;
  }
  tbody tr:nth-child(even) {
    @apply bg-gray-100;
  }
  tbody tr td {
    @apply text-sm pl-4 pr-2 py-3 border-l border-r leading-tight;
  }

  /* Input styles */
  input {
    @apply block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm;
  }
  [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    @apply border-fuse-teal-dk ring-fuse-teal-dk ring-1;
  }

  input[type~="email"],
  input[type~="required"],
  input[type~="password"],
  input[type~="text"] {
    @apply h-10 mb-3 mt-1;
  }

  label {
    @apply mt-2 text-gray-700 text-sm;
  }
}

@layer components {
  .desaturate {
    @apply font-normal text-gray-600;
  }
  .left {
    @apply text-3xl mt-3 text-left text-gray-500;
  }
  .lt {
    @apply font-semibold;
  }
  .xlt {
    @apply font-light text-gray-700;
  }

  .carousel-cell {
    @apply h-full w-full ml-12 mt-4 px-8 xl:mx-16 xl:px-16;
  }

  .challenge-tile {
    @apply bg-white shadow-xl rounded-xl p-2;
  }

  .select-wcag-wrapper::after {
    content: '▼';
    margin: 0.5rem 0 0 -2rem;
    pointer-events: none;
    z-index: 5;
  }

  .select-wcag-wrapper select {
    background-image: none;
    z-index: 10;
  }

  .alert {
      @apply text-red-500 italic;
  }

  .announcement-tag.alert {
      @apply bg-fuse-pink;
  }

  .announcement-tag.new {
      @apply bg-fuse-green;
  }

  .announcement-tag.update {
      @apply bg-fuse-orange;
  }

  /* Add padding depending on the size of the top-menu */
  @screen md {
    body.student #env {
      padding-top: 5rem;
    }
    body.fac #env {
      padding-top: 8rem;
    }
    body.admin #env {
      padding-top: 10rem;
    }
  }

  /* Add padding for masquerade form */
  body.admin main {
    padding-bottom: 10rem;
  }

  #navbar > div {
    @apply md:h-8 bg-fuse-teal-dk relative;
    min-height: 2rem;
  }
  nav li {
    @apply flex-1 md:p-0 m-0 list-none md:h-full max-w-none border-fuse-teal-dk-500;
    @apply border-t last:border-b md:border-b-0 md:border-t-0 md:border-r first:md:border-l last:md:border-b-0;
  }
  nav li a {
    @apply h-full py-2;
    @apply flex justify-center items-center;
    @apply no-underline w-full uppercase text-lg;
    @apply font-medium text-white whitespace-nowrap transition;
  }
  nav li:first-child {
    @apply border-t-0;
  }
  nav li a.active {
    @apply font-bold bg-fuse-teal-dk-700;
  }
  nav li a:hover {
    @apply bg-fuse-teal-dk-700;
    @apply text-gray-100 border-gray-300;
  }
  nav li a:focus {
    @apply outline-none text-gray-700 border-gray-300;
  }
  @screen md {
    nav li a {
      @apply text-xs;
    }
  }
  @screen lg {
    nav li a {
      @apply text-sm;
    }
  }

  nav #guest-navbar {
    min-height: 3rem;
  }
  nav #facilitator-navbar,
  nav #student-navbar {
    @apply transition-all duration-300 md:h-12;
    min-height: 4rem;
  }
  nav #profile-pic {
    @apply w-10 h-10;
  }
  nav.docked #facilitator-navbar,
  nav.docked #student-navbar {
    @apply min-h-[2.25rem] sm:max-h-[2.25rem];
  }
  nav.docked #facilitator-navbar:hover,
  nav.docked #student-navbar:hover {
    @apply min-h-[4rem] sm:max-h-[4rem];
  }
  nav.docked #student-navbar #profile-env {
    @apply transition-all duration-300 h-8 mt-0.5;
  }
  nav #student-navbar #profile-env,
  nav.docked #student-navbar:hover #profile-env {
    @apply transition-all duration-300 h-16 mt-0;
  }
  nav.docked #student-navbar #profile-pic {
    @apply transition-all duration-300 h-7 w-7;
  }
  nav #student-navbar #profile-pic,
  nav.docked #student-navbar:hover #profile-pic {
    @apply transition-all duration-300 h-10 w-10;
  }
  nav.docked #student-navbar #logo {
    left: 0;
    top: 0;
    @apply absolute z-10;
    @apply transition-all duration-300 w-10 ml-8;
  }
  nav #student-navbar #logo,
  nav.docked #student-navbar:hover #logo {
    left: 0;
    top: 0;
    @apply absolute z-10;
    @apply transition-all duration-300 w-20 mt-1 -ml-2;
  }
  nav #student-navbar li a {
    @apply text-xl md:text-sm lg:text-base;
  }
  nav #guest-navbar .burger-wrapper {
    @apply h-12;
  }
  nav #student-navbar .burger-wrapper {
    @apply h-16;
  }
  nav.docked #student-navbar .burger-wrapper {
    @apply h-8;
  }

  nav #admin-navbar {
    @apply bg-slate-800 border-slate-500;
  }
  nav #admin-navbar ul {
    @apply md:ml-16;
  }
  nav #admin-navbar li {
    @apply border-slate-500;
  }
  nav #admin-navbar li a.active {
    @apply bg-slate-900;
  }
  nav #admin-navbar li a:hover {
    @apply bg-slate-900;
  }

  nav #facilitator-navbar {
    @apply bg-white border-stone-600;
  }
  nav #facilitator-navbar ul {
    @apply md:ml-16;
  }
  nav #facilitator-navbar li {
    @apply border-neutral-500;
  }
  nav #facilitator-navbar li a {
    @apply text-neutral-600;
  }
  nav #facilitator-navbar li a.active {
    @apply text-neutral-900 bg-neutral-300;
  }
  nav #facilitator-navbar li a:hover {
    @apply text-neutral-900 bg-neutral-100;
  }

  @screen sm {
    .btn {
      @apply text-base;
    }
  }

  .gallery-play-border {
    background-color: rgba(255,255,255,0.7);
    border-radius: 100%;
    border: 5px solid rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 80px;
    /* Orion bug requires margin auto for H center */
    margin: 0 auto;
    transition: all 0.5s ease;
    width: 80px;
    z-index: 1;
  }
  .gallery-play-border:hover {
    border-color: transparent;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
  .gallery-play-border:hover .play_button {
    border-left: 35px solid rgba(0,0,0,0.9);
  }
  .gallery-play-border:active, .play_border:focus {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
  .gallery-play-button {
    border-bottom: 20px solid transparent;
    border-left: 35px solid rgba(70, 70, 70, 0.8);
    border-top: 20px solid transparent;
    height: 0;
    left: 34%; /* LTR */
    position:relative;
    top: 15px;
    width: 0;
    [dir="rtl"] & {
      right: 16%;
    }
  }

  /* Help Finder Icon */
  .activity-icon {
    border-radius: 15px;
    border-top-right-radius: 0;
    border: solid 4px #bfc8cc;
    height: 2rem;
    margin: auto;
    transform: rotate(-10deg);
    width: 2rem;
  }

  .activity-icon.active {
    border-color: #5ff238;
  }
  .dashboard .activity-icon.active {
    @apply border-emerald-300;
    border-width: 4.5px;
  }
  .dashboard .activity-icon.inactive {
    @apply border-emerald-500;
    border-width: 4.5px;
  }
  .activity-icon .eye {
    @apply w-1.5 h-1.5 absolute rounded-full;
  }
  .activity-icon .left {
    bottom: 11px;
    left: 9px;
  }
  .activity-icon .right {
    bottom: 9px;
    left: 17px;
  }
  .activity-icon.active .eye {
    @apply bg-emerald-300;
  }
  .activity-icon.inactive .eye {
    @apply bg-emerald-500;
  }

  .activity-icon span {
    display: inline-block;
    font-weight: bolder;
    height: 2rem;
    margin: -4px;
    text-align: center;
    transform: rotate(10deg);
    width: 2rem;
  }

  .activity-icon.active-0 {
    animation-delay: 0.25s !important;
  }
  .activity-icon.active-1 {
    animation-delay: 0.5s !important;
  }
  .activity-icon.active-2 {
    animation-delay: 0.75s !important;
  }
  .activity-icon.active-3 {
    animation-delay: 1s !important;
  }
  .activity-icon.active-4 {
    animation-delay: 1.25s !important;
  }
  .activity-icon.active-5 {
    animation-delay: 1.5s !important;
  }
  .activity-icon.active-6 {
    animation-delay: 1.75s !important;
  }
  .activity-icon.active-7 {
    animation-delay: 2.0s !important;
  }
  .activity-icon.active-8 {
    animation-delay: 2.25s !important;
  }
  .activity-icon.active-9 {
    animation-delay: 2.5s !important;
  }

  .long_pulse1 .activity-icon.active {
    animation: pulse1 5s infinite;
  }
  .long_pulse2 .activity-icon.active {
    animation: pulse2 5s infinite;
  }

  .short_pulse1 .activity-icon.active {
    animation: pulse2 3s infinite;
  }
  .short_pulse2 .activity-icon.active {
    animation: pulse2 3s infinite;
  }

  @keyframes pulse1 {
    from { transform: rotate(-10deg) scale(1); }
    10% { transform: rotate(-10deg) scale(1.15); }
    20% { transform: rotate(-10deg) scale(1); }
    40% { transform: rotate(-10deg) scale(1.15); }
    50% { transform: rotate(-10deg) scale(1); }
  }

  @keyframes pulse2 {
    from { transform: rotate(-10deg) scale(1); }
    5% { transform: rotate(-10deg) scale(1.15); }
    10% { transform: rotate(-10deg) scale(1); }
    15% { transform: rotate(-10deg) scale(1.15); }
    20% { transform: rotate(-10deg) scale(1); }
  }

  @keyframes color-cycle {
    from {
      border-color: #5ff238;
    }
    50% {
      border-color: white;
    }
    to {
      border-color: #5ff238;
    }
  }

  /* this only runs once.*/
  /* TODO: https://css-tricks.com/how-to-animate-the-details-element-using-waapi/ */
  #artifact-form-container:not([open]) summary ~ * {
    animation: sweep-back 1s ease-in-out;
  }
  #artifact-form-container[open] summary ~ * {
    animation: sweep 1s ease-in-out;
  }
  @keyframes sweep {
    0%   { opacity: 0; transform: translateX(-10px)}
    100% { opacity: 1; transform: translateX(0)}
  }
  @keyframes sweep-back {
    0%   { opacity: 1; transform: translateX(0)}
    100% { opacity: 0; transform: translateX(-10px)}
  }

  .status {
      @apply rounded-lg px-4 py-2 my-4 bg-fuse-green-900 text-white;
  }

  .scroll-box {
    @apply overflow-y-scroll;
    max-height: calc(100vh - 12rem);
  }

  body.admin .scroll-box {
    max-height: calc(100vh - 14rem);
  }

  input[type='checkbox'].hidden + span {
      @apply bg-white border rounded p-1 m-1;
  }
  input[type='checkbox'].hidden:checked + span {
      @apply bg-fuse-green-100;
  }

  /* Quill.js editor resets */
  .quill button {
    @apply m-0 shadow-none rounded-none;
    font-size: unset;
    font-weight: unset;
    letter-spacing: unset;
    line-height: unset;
    text-transform: unset;
  }
}

/* Adjust inline anchors to respect fixed headers */
/* These are base defaults that need to be adjusted via js */
html.student {
  scroll-padding-top: 4rem;
}
html.student.docked {
  scroll-padding-top: 3rem;
}
html.admin {
  scroll-padding-top: 8rem;
}
html.admin.docked {
  scroll-padding-top: 6rem;
}
html.fac {
  scroll-padding-top: 6rem;
}
html.fac.docked {
  scroll-padding-top: 4rem;
}

/* Filestack picker is CRAZY aggressive with x-index */
.fsp-picker {
    z-index: 1 !important;
}
.fsp-picker .fsp-modal .fsp-modal__sidebar {
    min-height: 300px;
}
.fsp-picker .fsp-modal .fsp-modal__body {
    min-height: 300px;
    overflow: scroll;
}

[x-cloak] { display: none !important; }
