@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  h1, h2, h3, h4 {
    @apply font-bold font-display leading-tight mt-16 text-fuse-teal-dk;
  }
  h1 {
    @apply text-5xl mb-6;
    @apply font-extrabold mt-12;
  }
  h2 {
    @apply text-4xl text-center;
  }
  h3 {
    @apply text-2xl font-semibold text-gray-700 mt-8 mb-4;
  }
  h4 {
    @apply text-xl text-gray-700 mt-8 mb-4;
  }

  p {
    @apply font-sans text-gray-700 leading-normal max-w-prose my-4 text-lg;
  }

  a {
    @apply text-fuse-teal no-underline;
  }

  li {
    @apply ml-8 mt-3 leading-snug list-disc;
  }

  button, [type='button'], [type='reset'], [type='submit'] {
    @apply inline-block bg-green-500 text-white rounded-lg shadow-lg uppercase tracking-wider font-semibold text-sm my-2 px-5 py-2;
  }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    @apply outline-none ring;
  }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    @apply bg-green-700;
  }
  button:active, [type='button']:active, [type='reset']:active, [type='submit']:active,
  button:visited, [type='button']:visited, [type='reset']:visited, [type='submit']:visited {
    @apply bg-green-900;
  }


  table {
    @apply table-auto;
  }
  thead tr {
    @apply bg-fuse-teal font-display text-white tracking-wide border-white font-bold text-left rounded-t;
  }
  thead tr th {
    @apply px-4 py-2;
  }
  tbody tr {
    @apply border border-gray-300 bg-white text-gray-700 font-medium;
  }
  tbody tr:nth-child(even) {
    @apply bg-gray-100;
  }
  tbody tr td {
    @apply text-sm pl-4 pr-2 py-3 border-l border-r leading-tight;
  }

  /* Input styles */
  input {
    @apply block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm;
  }

  input[type~="email"],
  input[type~="required"],
  input[type~="password"],
  input[type~="text"] {
    @apply h-10 mb-3 mt-1;
  }

  label {
    @apply mb-2 pt-6 text-gray-700 text-sm;
  }
}

@layer components {
  .desaturate {
    @apply font-normal text-gray-600;
  }
  .left {
    @apply text-3xl mt-3 text-left text-gray-500;
  }
  .lt {
    @apply font-semibold;
  }
  .xlt {
    @apply font-light text-gray-700;
  }

  .carousel-cell {
    @apply h-full w-full ml-12 mt-4 px-8 xl:mx-16 xl:px-16;
  }

  .challenge-tile {
    @apply bg-white shadow-xl rounded-xl p-2;
  }

  .select-wcag-wrapper::after {
    content: '▼';
    margin: 0.5rem 0 0 -2rem;
    pointer-events: none;
    z-index: 5;
  }

  .select-wcag-wrapper select {
    background-image: none;
    z-index: 10;
  }

  /* Add padding depending on the size of the top-menu */
  @screen md {
    body.student #env {
      padding-top: 4rem;
    }
    body.fac #env {
      padding-top: 6rem;
    }
    body.admin #env {
      padding-top: 8rem;
    }
  }

  /* Add padding for masquearde form */
  body.admin main {
    padding-bottom: 10rem;
  }

  nav > div {
    @apply md:h-8 bg-fuse-teal-dk relative;
    min-height: 2rem;
  }
  nav li {
    @apply flex-1 md:p-0 m-0 list-none md:h-full max-w-none border-fuse-teal-dk-500;
    @apply border-t last:border-b md:border-b-0 md:border-t-0 md:border-r first:md:border-l last:md:border-b-0;
  }
  nav li a {
    @apply h-full py-2;
    @apply flex justify-center items-center;
    @apply no-underline w-full uppercase text-lg;
    @apply font-medium text-gray-300 whitespace-nowrap transition;
  }
  nav li:first-child {
    @apply border-t-0;
  }
  nav li a.active {
    @apply font-bold bg-fuse-teal-dk-700;
  }
  nav li a:hover {
    @apply bg-fuse-teal-dk-700;
    @apply text-gray-100 border-gray-300;
  }
  nav li a:focus {
    @apply outline-none text-gray-700 border-gray-300;
  }
  @screen md {
    nav li a {
      @apply text-xs;
    }
  }
  @screen lg {
    nav li a {
      @apply text-sm;
    }
  }

  nav #guest-navbar {
    min-height: 3rem;
  }
  nav #student-navbar {
    @apply transition-all duration-300 md:h-12;
    min-height: 4rem;
  }
  nav #student-navbar.docked {
    min-height: 2rem;
    max-height: 2rem;
  }
  nav #student-navbar.docked:hover {
    min-height: 4rem;
    max-height: 4rem;
  }
  nav #student-navbar.docked #profile-env {
    @apply transition-all duration-300 h-8;
  }
  nav #student-navbar.docked #profile-pic {
    @apply transition-all duration-300 h-7 w-7;
  }
  nav #student-navbar.docked:hover #profile-env {
    @apply h-16;
  }
  nav #student-navbar.docked:hover #profile-pic {
    @apply h-10 w-10;
  }
  nav #student-navbar li a {
    @apply text-xl md:text-sm lg:text-base;
  }
  nav #guest-navbar .burger-wrapper {
    @apply h-12;
  }
  nav #student-navbar .burger-wrapper {
    @apply h-16;
  }
  nav #student-navbar.docked .burger-wrapper {
    @apply h-8;
  }

  nav #admin-navbar {
    @apply bg-slate-800 border-slate-500;
  }
  nav #admin-navbar ul {
    @apply md:ml-16;
  }
  nav #admin-navbar li {
    @apply border-slate-500;
  }
  nav #admin-navbar li a.active {
    @apply bg-slate-900;
  }
  nav #admin-navbar li a:hover {
    @apply bg-slate-900;
  }

  nav #facilitator-navbar {
    @apply bg-stone-100 border-stone-600;
  }
  nav #facilitator-navbar ul {
    @apply md:ml-16;
  }
  nav #facilitator-navbar li {
    @apply border-stone-500;
  }
  nav #facilitator-navbar li a {
    @apply text-stone-500;
  }
  nav #facilitator-navbar li a.active {
    @apply text-stone-900 bg-stone-300;
  }
  nav #facilitator-navbar li a:hover {
    @apply text-stone-900 bg-stone-300;
  }

  @screen sm {
    .btn {
      @apply text-base;
    }
  }
}